<%= form_for [:admin, @customer] do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
   
  <fieldset class="inputs">
    <ol>
      <li>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.text_field :password %>
      </li>
      <li>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </li>
      <li>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code %>
      </li>
      <li>
        <%= f.label :province_id %>
        <%= f.collection_select :province_id, @provinces, :id, :name  %>
      </li>       
    </ol>
  </fieldset>
  
  <%= f.submit %>  
  
<% end %>
