<table>
  <tr>
    <th>Order</th>
    <th>Status</th>
    <th>Date</th>
    <th>Customer</th>
    <th>Total</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
<%
   subtotal = 0
      
   lineitems = order.lineitems
   lineitems.each do |item|
     subtotal += item.quantity * item.price
   end
   
   tax = (subtotal * order.pst_rate + subtotal * order.gst_rate + subtotal * order.hst_rate).round(2)
   total = subtotal + tax
   
   
%>  
  <tr>
    <td><%= order.id %></td>
    <td><%= order.status %></td>
    <td><%= order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= link_to(order.customer.first_name + " " + order.customer.last_name, admin_customer_path(order.customer))%></td>
    <td style="text-align: right"><%= number_to_currency(total, :precision => 2) %></td>
    <td>
        <%= link_to 'Show', admin_order_path(order) %>
        <%= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

