<div class="new">
<%= link_to 'List', admin_orders_path %>
</div>
<div class="clear"></div>
<br/>
<div class="panel">
 <h3>Invoice</h3>
 <div class="panel_contents">
  
   <%= render :partial => "shared/customer"%>

   <table>
     <thead>
       <tr>
         <th>Product</th>
         <th>Price</th>
         <th>Quantity</th>
         <th>SubTotal</th>
       </tr>
     </thead>
     <tbody>
      <%
         subtotal = 0
         total = 0
         
         line_items = @order.lineitems
         line_items.each do |item|
         
          subtotal = item.quantity * item.price
          total += subtotal
          
          product = item.product
         
      %>
       <tr>
         <td><%= product.name %></td>
         <td style="text-align: right;"><%= number_to_currency(item.price, :precision => 2) %></td>
         <td style="text-align: right;"><%= item.quantity %></td>
         <td style="text-align: right;"><%= number_to_currency(subtotal, :precision => 2) %></td>
       </tr>
     <%
         end
         
         tax = (total * @order.pst_rate + total * @order.gst_rate + total * @order.hst_rate)
         total = total + tax
         
     %>        
     </tbody>
     <tbody>
      <tr>
       <td colspan="3"></td>
       <td></td>
      </tr>
      <tr>
       <td style="text-align: right;" colspan="3">Tax:</td>
       <td style="text-align: right;"><%= number_to_currency(tax, :precision => 2) %></td>
     </tr>
      <tr>
       <td style="text-align: right;" colspan="3">Total:</td>
       <td style="text-align: right;"><%= number_to_currency(total, :precision => 2) %></td>
     </tr>
   </tbody>
   </table>
  
  </div> 
</div>

