<!DOCTYPE html>
<html>
<head>
  <title>Robovacuum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to "Admin Backend", admin_path, class: "brand" %>

          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li>
                <%= link_to "Robot Vacuum", root_path %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li><%= link_to "Home", admin_path %></li>
              <li><%= link_to "Admin Products", admin_products_path %></li>
              <li><%= link_to "Back to Robot Vacuum Shop", root_path %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
          <section id="copyright">
                  <p>Copyright &copy; 2013 <span class="blue">Robotics Vacuum Company</span></p>
          </section> 
      </footer>

    </div>

</body>
</html>
