<!DOCTYPE html>
<html>
<head>
  <title>Robovacuum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
  
    <div id="wrapper">
 
      <div id="header">
        <h1 id="site_title" class="site_title">Cool Admin Depot</h1>
        <ul id="tabs">
          <li id="customers"><%= link_to "Customers", admin_customers_path(:title => "Customers") %></li>
          <li id="dashboard" class="current"><%= link_to "Dashboard", admin_products_path(:title => "Dashboard") %></li>
          <li id="orders"><a href="/admin/orders">Orders</a></li>
          <li id="products"><%=link_to "Products", admin_products_path(:title => "Products")%></li>
        </ul>
      </div>
      
    </div>
    
    <div id="title_bar" class="title_bar">
            <div id="titlebar_left">
              <span class="breadcrumb">
                  <a href="/admin">Admin</a> <span class="breadcrumb_sep">/</span>
              </span>
              <h2 id="page_title"><%=params[:title]%></h2>
            </div>
            <div id="titlebar_right"></div>
      </div>    

      
    <div id="admin_content" class="without_sidebar">
       <div id="main_content_wrapper">
          <div id="main_content">
             <%= yield %>
          </div>
       </div>
    </div>  



</body>
</html>
