
<table>
 <thead>
   <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>      
      <th>Stock Qty</th>
      <th>Model Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr>
        <td><%= admin_product.name %></td>
        <td><%= truncate(admin_product.description, length: 100, omission: "...") %></td>
        <td class="align-right"><%= number_to_currency(admin_product.price, :precision => 2) %></td>
        <td class="align-right"><%= admin_product.stock_quantity %></td>
        <td><%= admin_product.model_number %></td>
        <td>
          <%= link_to 'Show', admin_product_path(admin_product), class: "btn-small btn-info" %>
          <%= link_to 'Edit', edit_admin_product_path(admin_product), class: "btn-small btn-primary" %>
          <%= link_to 'Destroy', admin_product_path(admin_product), class: "btn-small btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<div>
<%= link_to 'New Product', new_admin_product_path%>
</div>