<div class="new">
<%= link_to 'List', admin_products_path %>
</div>
<div class="clear"></div>


<br/>
<div class="panel">
 <h3>Product</h3>
 <div class="panel_contents">
   <table>
     <thead>
       <tr>
         <th>Name</th>
         <th>Description</th>
         <th>Price</th>
         <th>Stock Quantity</th>         
         <th>Model Number</th>
         <th>Image</th>         
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><%= @admin_product.name%></td>
         <td><%= @admin_product.description %></td>
         <td style="text-align: right"><%= number_to_currency(@admin_product.price, :precision => 2) %></td>
         <td><%= @admin_product.stock_quantity %></td>
         <td><%= @admin_product.model_number %></td>
         <td> <%= image_tag @admin_product.image, :size => "50x50", :alt => @admin_product.name %></td>
       </tr>
     </tbody>
   </table>
  </div> 
</div>