  <div class="product">
      <%= link_to (image_tag product.image), product %>
  </div>
  
  <div class="summary">
    <h3><%= link_to product.name, product %></h3>
    <h4>
      Model:&nbsp;<span class="normal"><%= product.model_number %></span>
    </h4>
    <p>
       <%= truncate(product.description, length: 300, omission:"...") %>
    </p>
  </div>
  <div class="cartBox">
    <div class="price"><%= number_to_currency(product.price, :precision => 2) %></div>
    <ul>
      <li>Free Shipping</li>
      <li>6-Month Financing</li>
      <li>Stock:&nbsp;<strong><%= product.stock_quantity %></strong></li>
    </ul>
    <div class="cart">
        <%=form_tag(add_cart_path, :method => 'post',
                    :name  => 'add_cart',
                    :class=> "add_cart",
                    :remote => true,
                    :'data-update-target' => 'item') do%>
            <%= hidden_field_tag('token', product.id, {:id => product.id})%>        
           <%= image_submit_tag('btn_add_to_cart.gif', :alt => 'add_cart') %>
        <% end %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="hr"></div> 