<%= form_for [:admin, @admin_about] do |f| %>
  <% if @admin_about.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_about.errors.count, "error") %> prohibited this about from being saved:</h2>

      <ul>
      <% @admin_about.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <br/>
  
  <fieldset class="inputs">
    <ol>
      <li>
        <%= f.label :profile%>
        <%= f.cktext_area :profile %>
      </li>
      <li>
        <%= f.label :vision%>
        <%= f.cktext_area :vision %>
      </li>
      <li>
        <%= f.label :location %>
        <%= f.cktext_area :location,  :width=>'100px'%>
      </li>
    </ol>
  </fieldset>
  
  <%= f.submit %>    
  
<% end %>
