<div class="new">
<%= link_to 'New About', new_admin_about_path %>
</div>
<div class="clear"></div>

<br />

<table>
  <tr>
    <th>Profile</th>
    <th></th>
  </tr>

<% @admin_abouts.each do |about| %>
  <tr>
    <td><%= raw about.profile %></td>
    <td style="width: 100px;">
        <%= link_to 'Show', admin_about_path(about) %>
        <%= link_to 'Edit', edit_admin_about_path(about) %>
        <%= link_to 'Destroy', admin_about_path(about), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>



