<%= form_for [:admin, @admin_province] do |f| %>
  <% if @admin_province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_province.errors.count, "error") %> prohibited this province from being saved:</h2>

      <ul>
      <% @admin_province.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  
  <fieldset class="inputs">
    <ol>
      <li>
        <%= f.label :name%>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :pst%>
        <%= f.text_field :pst %>
      </li>
      <li>
        <%= f.label :gst%>
        <%= f.text_field :gst %>
      </li>
      <li>
        <%= f.label :hst %>
        <%= f.text_field :hst %>
      </li>
    </ol>
  </fieldset>
  
  <%= f.submit %>  
  
<% end %>
