<div class="new">
<%= link_to 'New Province', new_admin_province_path %>
</div>
<div class="clear"></div>

<br />


<table>
  <tr>
    <th>Name</th>
    <th>Pst</th>
    <th>Gst</th>
    <th>Hst</th>
    <th></th>
  </tr>

<% @admin_provinces.each do |province| %>
  <tr>
    <td><%= province.name %></td>
    <td><%= province.pst.round(2) %></td>
    <td><%= province.gst.round(2) %></td>
    <td><%= province.hst.round(2) %></td>
    <td>
        <%= link_to 'Show', admin_province_path(province) %>
        <%= link_to 'Edit', edit_admin_province_path(province) %>
        <%= link_to 'Destroy', admin_province_path(province), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />


