<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_province.name %>
</p>

<p>
  <b>Pst:</b>
  <%= @admin_province.pst %>
</p>

<p>
  <b>Gst:</b>
  <%= @admin_province.gst %>
</p>

<p>
  <b>Hst:</b>
  <%= @admin_province.hst %>
</p>


<%= link_to 'Edit', edit_admin_province_path(@admin_province) %> |
<%= link_to 'Back', admin_provinces_path %>
