
<div class="new">
<%= link_to 'List', admin_provinces_path %>
</div>
<div class="clear"></div>


<br/>
<div class="panel">
 <h3>Product</h3>
 <div class="panel_contents">
   <table>
     <thead>
       <tr>
         <th>Name</th>
         <th>PST</th>
         <th>GST</th>
         <th>HST</th>         
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><%= @admin_province.name%></td>
         <td><%= @admin_province.pst.round(2) %></td>
         <td><%= @admin_province.gst.round(2) %></td>
         <td><%= @admin_province.hst.round(2) %></td>
       </tr>
     </tbody>
   </table>
  </div> 
</div>