<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @staff.email %>
</p>

<p>
  <b>Password:</b>
  <%= @staff.password %>
</p>

<p>
  <b>First name:</b>
  <%= @staff.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @staff.last_name %>
</p>


<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
